{% extends "base.html" %}

{% block pageheading %}welcome{% endblock %}

{% block main %}
    {%  for stud in student %}
        <table>
            <tr><strong>First name: </strong>{{ stud[0] }}</tr>
            <tr><strong>Last name: </strong>{{ stud[1] }}</tr>
            <tr><strong>Due Date: </strong>{{ stud[2] }}</tr>
            <tr><strong>Email: </strong>{{ stud[3] }}</tr>
            <tr><strong>Subject: </strong>{{ stud[4] }}</tr>
            <tr><strong>Title: </strong>{{ stud[5] }}</tr>
        </table>
    {% endfor %}
{% endblock %}